/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.home {
  margin: auto;
}
.home-header {
  margin-top: 13px;
  width: 100%;
}
.home-footer {
  padding-top: 60px;
}
.yellow-color {
  background-color: #ffcc33;
}
.my-image {
  max-width: 100%;
  max-height: 100%;
}
.provider-text {
  margin: auto;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 90px;
  color: white;
  font-size: 16px;
}
.requestor-text {
  margin: auto;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 90px;
  color: #ff9900;
  font-size: 16px;
}

.provider-page {
  margin-top: 3px;
}
.provider-header {
  margin-bottom: 25px;
}
.card-inside {
  padding: 6px;
  margin: 6px;
}
.dates{
  margin-top: 60px;
  margin-bottom: 5px;
}

.submit-main {
  padding-top: 50px;
  padding-bottom: 60px;
  margin: auto;
  width:160px;
}

.requestor-header {
  margin-top: 3px;
  margin-bottom: 20px;
}
.left-nug {
  padding-top: 15px;
  margin-left: 18px;
}
.white-label{
  color: white;
}
.truck-font {
  margin: 4px;
}
.chooices {
  font-size: 8px !important;
}
.choice-mid{
  width: 25%;
}
.choice-last{
  width: 20%;
}
.choice-end{
  width: 10%;
}
.choice-space {
  width: 14%;
}
.lable-text {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (min-width: 768px) {
    .container{
        width:600px;
    }
}
@media (min-width: 992px) {
    .container{
        width:720px;
    }
}
@media (min-width: 1200px) {
    .container {
        width:960px;
    }
}
